+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Bienvenido a mi sitio personal" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Sobre mí <i class="fa fa-user ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentación <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="fa fa-newspaper ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="https://www.youtube.com/channel/UCGfKISiN7usAdxvcGivm_OA/featured" >
		Vídeos <i class="fab fa-youtube ml-2 "></i>
	</a>
	<p class="lead mt-5">¡Pasa y descubre en que invierto mi tiempo!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Este sitio personal busca ser el nexo de todo el contenido que genero en mi tiempo libre. Me encanta compartir conocimiento y aprender en el proceso. 

<br>
Puedes encontrar mi contenido en los siguientes medios:
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-youtube" title="Youtube" url="https://www.youtube.com/channel/UCGfKISiN7usAdxvcGivm_OA" %}}
No te pierdas ningún video suscribiendote a mi canal.</a>


{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="GitHub" url="https://github.com/pabpereza" %}}
Puedes hacer un [Pull Request](https://github.com/pabpereza/pabpereza/pulls) de todo el contenido de la web y visitar otros proyectos. ¡Toda ayuda en bienvenida!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitter" url="https://twitter.com/pabpereza" %}}
Para estar al día de los últimos anuncios y publicaciones.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h2 class="text-center">¿Quieres saber más de mí o del contenido de la web?</h2><br>
<p style="text-align: center; font-size: large;">En este sitio web almaceno toda la documentación que vaya generando, las entradas de blog y mi perfil personal.</p>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fa fa-user" title="Perfil personal" url="/about" %}}
Para saber un poco más de mi, aunque no te pierdes nada.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-file-alt" title="Documentación" url="https://github.com/google/docsy-example" %}}
Recopilación de todos los recursos que vaya generando. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-blog" title="Blog" url="https://twitter.com/pabpereza" %}}
Para estar al tanto de las últimas novedades.
{{% /blocks/feature %}}

{{< /blocks/section >}}

