{{ define "main"}}
    <main id="main" style="margin: 5%">
      <div>
       <h1 id="title" style="text-align: center;">¡Hello there!</h1>
       <p style="text-align: center;">Oops! La página que estas buscando no existe. Intenta volver a la <a href="{{ "/" | relURL }}">página principal</a>.</p>
       <p style="text-align: center; object-fit: fill || contain || cover || none || scale-down;">
           <img src="https://i.imgflip.com/2mxizj.jpg"></img>
       </p>
                 
       <h1 id="title" style="text-align: center;">404</h1>
        
      </div>
    </main>
{{ end }}