name: Update README.md

on:
  workflow_dispatch:
  
  schedule:
    - cron: "10 */24 * * *"

jobs:
    generate_videos:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
    
        - name: Set up Python 3.10
          uses: actions/setup-python@v2
          with:
            python-version: 3.10.14
    
        - name: Run script
          run: |
            python src/workflows/readme.py
            git config user.name pabpereza 
            git config user.email pabloperezaradros@gmail.com
            git add README.md
            git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update README with latest videos"
            git push origin main
    generate_snake:
      permissions:
        contents: write
      runs-on: ubuntu-latest
      timeout-minutes: 5

      steps:
        - name: generate snake.svg
          uses: Platane/snk/svg-only@v3
          with:
            github_user_name: ${{ github.repository_owner }}
            outputs: dist/snake.svg?palette=github-dark


        - name: push snake.svg to the output branch
          uses: crazy-max/ghaction-github-pages@v3.1.0
          with:
            target_branch: output
            build_dir: dist
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
