name: Update README.md

on:
  workflow_dispatch:
  
  schedule:
    - cron: "0 */4 * * *"

jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
    
        - name: Set up Python 3.10
          uses: actions/setup-python@v2
          with:
            python-version: 3.10.14
    
        - name: Run script
          env:
            YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          run: |
            python src/workflows/readme.py
            git config user.name pabpereza 
            git config user.email pabloperezaradros@gmail.com
            git add README.md
            git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update README with latest videos"
            git push origin master
